.lead__subtitle {
    width: 640px;
    line-height: 36px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 64px 0;
    font-family: 'Inter', Helvetica, sans-serif;
}

@media screen and (max-width:320px) {
    .lead__subtitle {
        max-width: 288px;
        line-height: 20px;
        font-size: 16px;
        padding: 0 0 40px 0;
    }
}