.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 33px 0;
    color: #FFFFFF;
    font-family: 'Inter', Helvetica, sans-serif; 
}

@media screen and (max-width: 320px) {
    .intro__text {
    font-size: 16px;
    line-height: 26.08px;
    padding: 0 0 34px 0;
    }
}