.place__website {
    display: flex;
    flex-direction: column;
    grid-area: place__website;
    margin: 0;
    padding: 0;
    max-width: 456px;
    width: 100%;
    align-self: flex-end;
    gap: 12px;
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        margin: 0 16px;
        align-self: auto;
    }
}
